@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

html {
  background-image: url("/assets/texture.png");
  background-size: cover;
}

.app-header {
  position: relative;
  background-color: #4A3AFF;
  padding: 4.563em 0;
  text-align: center;
  color: #fff;
}
.app-header__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.app-header__select {
  background: url("/assets/arrow-down.png") no-repeat;
  background-position: calc(100% - 14px);
  padding: 13px 16px;
  margin-top: 28px;
  max-width: 402px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  border-radius: 12px;
  appearance: none;
  border: 1px solid #fff;
  color: #747579;
  color: #fff;
  background-color: none;
}
.app-header__button {
  position: absolute;
  top: 37%;
  left: 10%;
  outline: none;
  border: none;
  background: none;
  outline: none;
  border: none;
}
.app-header__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #C2FF13;
  cursor: pointer;
}
.app-content {
  padding: 30px;
  margin: 97px auto;
  max-width: 640px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.app-content__note {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.app-content__note-label {
  color: #747579;
  margin-bottom: 4px;
}
.app-content__note-name, .app-content__note-body {
  padding: 10px 16px;
  max-width: 368px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #747579;
  border: 1px solid #747579;
  border-radius: 12px;
  outline: none;
  margin-bottom: 26px;
}
.app-content__note-body {
  min-height: 100px;
  resize: none;
}
.app-content__note-body::-webkit-scrollbar {
  width: 3px;
}
.app-content__note-body::-webkit-scrollbar-thumb {
  background: #4A3AFF;
  border-radius: 0.625em;
}
.app-content__note-body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
.app-content__title {
  text-align: center;
}
.app-content__search {
  padding: 10px 16px;
  max-width: 368px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #747579;
  border: 1px solid #747579;
  border-radius: 12px;
  outline: none;
}
.app-content__search-label {
  display: inline-block;
  margin: 28px 0 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #747579;
}
.app-content__notes {
  margin: 28px 0;
  max-height: 326px;
  overflow-x: scroll;
}
.app-content__notes::-webkit-scrollbar {
  width: 3px;
}
.app-content__notes::-webkit-scrollbar-thumb {
  background: #4A3AFF;
  border-radius: 0.625em;
}
.app-content__notes::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
.app-content__notes-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6px 0;
}
.app-content__notes-item__name {
  width: 100%;
  max-width: 352px;
  word-break: break-all;
  font-size: 16px;
  font-weight: 500;
  color: #1E252B;
  line-height: 26px;
}
.app-content__notes-item__button-remove {
  width: 32px;
  height: 32px;
  background: url("/assets/ic_delete.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  stroke: #4A3AFF;
  fill: #4A3AFF;
  border-radius: 50%;
  background-color: #fff;
  background-position: center center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 6px 0px;
}
.app-content__notes-item__button-remove svg {
  width: 1em;
  height: 1em;
}
.app-content__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-content__status-text {
  color: #1E252B;
  opacity: 0.5;
}
.app-content__button-create {
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: #fff;
  border-radius: 30px;
  border: none;
  background-color: #4A3AFF;
  padding: 8px;
  cursor: pointer;
}
.app-content__button-remove {
  width: 32px;
  height: 32px;
  background: url("/assets/ic_delete.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  stroke: #4A3AFF;
  fill: #4A3AFF;
  border-radius: 50%;
  background-color: #fff;
  background-position: center center;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 4px 10px 0px;
}
.app-content__button-remove svg {
  width: 1em;
  height: 1em;
}
.app-content__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 402px;
  box-sizing: border-box;
}
.app-content__wrapper--edit {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
