@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

html {
  background-image: url("/notes-app/assets/texture.png");
  background-size: cover;
}

.app-header {
  position: relative;
  background-color: #4A3AFF;
  padding: 4.563em 0;
  text-align: center;
  color: #fff;
}
.app-header__title {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.125rem;
}
.app-header__text {
  display: inline-block;
  margin-top: 1.75rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.875rem;
  color: #C2FF13;
}
.app-header__select {
  background: url("/notes-app/assets/arrow-down.png") no-repeat;
  background-position: calc(100% - 14px);
  padding: 0.625rem 1rem;
  margin-top: 1.75rem;
  max-width: 25.125rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  appearance: none;
  border: 0.063rem solid #fff;
  color: #747579;
  color: #fff;
  background-color: none;
}
.app-header__button {
  position: absolute;
  top: 37%;
  left: 10%;
  outline: none;
  border: none;
  background: none;
  outline: none;
  border: none;
}
.app-header__link {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: #C2FF13;
  cursor: pointer;
}
.app-content {
  padding: 1.875rem;
  margin: 6.063rem auto;
  max-width: 40rem;
  border-radius: 0.625rem;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0.438rem 1.813rem 0;
}
.app-content__note {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.app-content__note-label {
  color: #747579;
  margin-bottom: 0.25rem;
}
.app-content__note-name, .app-content__note-body {
  padding: 0.625rem 1rem;
  max-width: 23rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #747579;
  border: 0.063rem solid #747579;
  border-radius: 0.75rem;
  outline: none;
  margin-bottom: 1.625rem;
}
.app-content__note-body {
  min-height: 6.25rem;
  resize: none;
}
.app-content__note-body::-webkit-scrollbar {
  width: 0.188rem;
}
.app-content__note-body::-webkit-scrollbar-thumb {
  background: #4A3AFF;
  border-radius: 0.625em;
}
.app-content__note-body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
.app-content__title {
  text-align: center;
}
.app-content__search {
  padding: 0.625rem 1rem;
  max-width: 23rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 24px;
  color: #747579;
  border: 0.063rem solid #747579;
  border-radius: 0.75rem;
  outline: none;
}
.app-content__search-label {
  display: inline-block;
  margin: 1.75rem 0 0;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #747579;
}
.app-content__notes {
  margin: 1.75rem 0;
  max-height: 20.375rem;
  overflow-x: scroll;
}
.app-content__notes::-webkit-scrollbar {
  width: 0.188rem;
}
.app-content__notes::-webkit-scrollbar-thumb {
  background: #4A3AFF;
  border-radius: 0.625em;
}
.app-content__notes::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
.app-content__notes-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.375rem 0;
}
.app-content__notes-item__name {
  width: 100%;
  max-width: 22rem;
  word-break: break-all;
  font-size: 1rem;
  font-weight: 500;
  color: #1E252B;
  line-height: 1.625rem;
}
.app-content__notes-item__button-remove {
  width: 2rem;
  height: 2rem;
  background: url("/notes-app/assets/ic_delete.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  stroke: #4A3AFF;
  fill: #4A3AFF;
  border-radius: 50%;
  background-color: #fff;
  background-position: center center;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0.125rem 0.375rem 0;
}
.app-content__notes-item__button-remove svg {
  width: 1rem;
  height: 1rem;
}
.app-content__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-content__status-text {
  color: #1E252B;
  opacity: 0.5;
}
.app-content__button-create {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.625rem;
  font-weight: 600;
  color: #fff;
  border-radius: 1.875rem;
  border: none;
  background-color: #4A3AFF;
  padding: 8px;
  cursor: pointer;
}
.app-content__button-remove {
  width: 2rem;
  height: 2rem;
  background: url("/notes-app/assets/ic_delete.svg");
  background-size: 1.25rem;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  stroke: #4A3AFF;
  fill: #4A3AFF;
  border-radius: 50%;
  background-color: #fff;
  background-position: center center;
  box-shadow: rgba(100, 100, 111, 0.4) 0 0.25rem 0.625rem 0;
}
.app-content__button-remove svg {
  width: 1em;
  height: 1em;
}
.app-content__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 25.125rem;
  box-sizing: border-box;
}
.app-content__wrapper--edit {
  display: flex;
  flex-direction: column;
}
.app-content__wrapper--edit .app-content__title {
  margin-bottom: 1.75rem;
}

/*# sourceMappingURL=styles.css.map */
